	.sidebar{
		background-color: silver;
		width:20px;
		padding:10px;
		border:10px;
		height: 680px
		position:relative;
		z-index: 0;
	}
	i{
		padding-bottom:60px;
	}
	.TopRow{
		background-color: #534F5C;
		position: absolute;
		z-index: -1;
		top:0px;
		width: 100%;
	}
	.TopText{
		position: absolute;
  		top: 50px;
  		left: 270px;
  		color: white;
	}
	.TopIcons{
		position: absolute;
  		top: 200px;
  		left: 200px;
  		color: white;
  		
	}
	.MidRow{
		position: absolute;
  		top: 300px;
  		left: 50px;
  		color: Black;
	}
	#SongList tr:nth-child(even){background-color: #f2f2f2;
	}
	#SongList td{
  		padding-right: 200px;
  		padding-bottom: 20px;
		padding-top: 20px;
		}
	.BottomRow{
		background-color: #6733FF;
		position: relative;
		z-index: 1;
	}
	.BottomText{
		position: absolute;
  		top: 30px;
  		left: 110px;
  		color: white;
	}
	.BottomIcons{
		position: absolute;
  		top: 50px;
  		left: 750px;
  		color: white;
  		
	}